.vscode/

*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.brf
*.nlo
*.dvi
*.ps
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.toc
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.acn
*.bcf
*.run.xml
